
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container{
    background: white;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top_container{
    display: flex;
    justify-content: space-between;

    padding: 40px;
    padding-bottom: 20px;

    height: 65%;
}
.filter_control{
    display: flex;
    gap: 10px;
    width: 100%;

}
.filter_label{
    font-family: "Inter Variable", "Inter Placeholder", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
}
.filter_row{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.settings{

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    height:100%;
    /*overflow-y: scroll;*/


}
.settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    height: 100%;
    /*overflow-y: scroll;*/
    /*scrollbar-width: thin;*/
    /*scrollbar-color: #e1e1e1 #ffffff;*/
}

/* Для Webkit-браузеров (Chrome, Safari) */
.settings::-webkit-scrollbar {
    width: 15px !important; /* Ширина скролла */
    height: 10px !important;


}

.settings::-webkit-scrollbar-track {

    border-radius: 10px;
    padding-bottom: 100px;
}

.settings::-webkit-scrollbar-thumb {
    background: #e1e1e1; /* Цвет полоски */
    border-radius: 10px;
    height: 30px;
    /*width:5px  !important;*/
    border:6px solid white;

}

/*.settings::-webkit-scrollbar-thumb:hover {*/
/*    background: #555; !* Цвет полоски при наведении *!*/
/*}*/



.bottom_container{
    display: flex;

    width: 100%;
    overflow-x: scroll;

}


  
  .bottom_container::-webkit-scrollbar {
    width: 4px;
    height: 20px;
    background: #ffffff;
  }
  
  .bottom_container::-webkit-scrollbar-thumb {
    background: #d3d3d3;
    border-radius: 10px;
    border: 8px solid #ffffff;
  }
  
  .bottom_container::-webkit-scrollbar-thumb:hover {
    background: #c7c7c7;
    width: 8px;
    border-radius: 14px;
    border: 12px solid #ffffff;
  }

  

.category_title{
    font-size: 14px;
    font-family: "Lato", serif;
    text-align: start;
    margin: 0;
    margin-left: 20px;
    background: white;
}
.filter_list{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 15px;
    height: 70%;
    margin: 0;
    align-items:flex-end;
    margin-left: 20px;
}
.filter_category{

    margin-right: 30px;
 display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    height: 100%;

}

.image_container{
    width: 60%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.download_button{

    display: flex;
    gap: 10px;
    justify-content: end;
    margin-bottom: 20px;
    margin-right: 40px;
    position: absolute;
   bottom: 0;
   right: 0;
}

.button{
    background: rgb(253, 253, 253);
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-family: "Inter Variable", "Inter Placeholder", sans-serif;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    transform: scale(1.05);
    background: rgb(228, 228, 228);
}